@*@model IEnumerable<MVC.Models.EspecieModel>*@
    @model List<Dominio.Entidades.Especie>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index de Especies</title>
    <link rel="stylesheet" type="text/css" href="/css/Especies/estilos.css">
</head>
<body>
    <h1>Especies</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre cientifico</th>
                <th>Nombre vulgar</th>
                <th>Descripción</th>
                <th>Peso (kg)</th>
                <th>Longitud (cm)</th>
                <th>Estado de conservación</th>
                <th>Imagen de especie</th>
                @*estaria necesitando q se hagan titulos x cada amenaza en el model*@
                <th>Amenaza descripción</th>
                <th>Amenaza grado de peligrosidad</th>
                @*<th>Ecosistema</th>
                <th>Area de ecosistema (m²)</th>
                <th>Descripción de ecosistema</th>
                <th>Latitud de ecosistema</th>
                <th>Longitud de ecosistema</th>
                <th>Imagen de ecosistema</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Area de ecosistema (m²)</th>
                <th>Latitud de ecosistema</th>
                <th>Longitud de ecosistema</th>
                <th>Estado de conservación</th>
                <th>Imagen de ecosistema</th>*@

                @*<th>Amenazas</th>
                <th>Ecosistema</th>
                <th>Area de ecosistema (m²)</th>
                <th>Descripción de ecosistema</th>
                <th>Latitud de ecosistema</th>
                <th>Longitud de ecosistema</th>
                <th>Imagen de ecosistema</th>*@

            </tr>
        </thead>
        <tbody>
            @foreach (var especie in Model)
            {
                <tr>
                    <td>@especie.Id</td>
                    <td>@especie.Nombre.NombreCientifico</td>
                    <td>@especie.Nombre.NombreVulgar</td>
                    <td>@especie.Descripcion</td>
                    <td>@especie.AtributosFisicos.RangoPesoKg</td>
                    <td>@especie.AtributosFisicos.RangoLongitudCm</td>
                    <td>@especie.EstadoConservacion.Nombre</td>
                    <td><img class="img-thumbnail" src="~/imagenes/especies/@especie.Imagen.RutaImagen" /></td>
                    @foreach (var amenaza in especie.Amenazas)
                    {
                        <td>@amenaza.Descripcion</td>
                        <td>@amenaza.GradoPeligrosidad</td>
                    }
                        

                    

                    @*<td>
                <ul>
                @foreach (var ecosistema in especie.Ecosistemas)
                {
                <thead>
                <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Area de ecosistema (m²)</th>
                <th>Latitud de ecosistema</th>
                <th>Longitud de ecosistema</th>
                <th>Estado de conservación</th>
                <th>Imagen de ecosistema</th>
                </tr>
                </thead>
                <td>@ecosistema.Nombre</td>
                <td>@ecosistema.Descripcion</td>
                <td>@ecosistema.AreaMetrosCuadrados</td>
                <td>@ecosistema.Coordenadas.Latitud</td>
                <td>@ecosistema.Coordenadas.Longitud</td>
                <td>@ecosistema.EstadoConservacion.Nombre</td>
                <td><img class="img-thumbnail" src="~/imagenes/ecosistemas/@ecosistema.Imagen.RutaImagen"></td>
                }
                </ul>
                </td>*@


                </tr>
            }
        </tbody>
    </table>
</body>
</html>