@model List<Dominio.Entidades.Especie>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index de Especies</title>
    <link rel="stylesheet" type="text/css" href="/css/Especies/estilos.css">
</head>
<body>
    <h1>Especies</h1>
    @using(Html.BeginForm("ConsultarEspecies", "Especies", FormMethod.Post))
    {
        <div>
            <h2>Consulta de Especies</h2>
            <div>
                <h6>Filtrar por Nombre cientifico</h6>
                @Html.Label("Nombre Científico")
                @Html.TextBox("NombreCientifico", ViewBag.NombreCientifico as string)
                <button type="submit" name="filter" value="NombreCientifico">Filtrar</button>
            </div>
            <div>
                <h6>Filtrar por peligro de extinción</h6>
                <button type="submit" name="FiltrarPeligroExtincion" value="true">Filtrar</button>
            </div>
            <div>
                <div>
                    <h6>Filtrar por rango de peso</h6>
                    @Html.Label("Peso mínimo (kg)")
                    @Html.TextBox("PesoMinimo", ViewBag.PesoMinimo as string)
                    @Html.Label("Peso máximo (kg)")
                    @Html.TextBox("PesoMaximo", ViewBag.PesoMaximo as string)
                    <button type="submit" name="filter" value="FiltrarPorPeso">Filtrar</button>
                </div>
            </div>
            <div>
                <h6>Filtrar por ecosistema</h6>
                @Html.Label("Ecosistema")
                @Html.DropDownList("EcosistemaId", ViewBag.Ecosistemas as SelectList)
                <button type="submit" name="filter" value="FiltrarPorEcosistema">Filtrar por Ecosistema</button>
            </div>
            <div>
                <h6>Filtrar ecosistemas no habitables por especie</h6>
                @Html.Label("Especies")
                @Html.DropDownList("EspecieId", ViewBag.Especies as SelectList)
                <button type="submit" name="filter" value="FiltrarPorEspecie">Filtrar por especie</button>
            </div>
        </div>
    }
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre cientifico</th>
                <th>Nombre vulgar</th>
                <th>Descripción</th>
                <th>Peso (kg)</th>
                <th>Longitud (cm)</th>
                <th>Estado de conservación</th>
                <th>Imagen de especie</th>
                <th>Amenaza descripción</th>
                <th>Amenaza grado de peligrosidad</th>
                <th>Ecosistema</th>
                <th>Area de ecosistema (m²)</th>
                <th>Latitud y Longitud</th>
                <th>Estado de conservación de ecosistema</th>
                <th>Imagen de ecosistema</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var especie in Model)
            {
                <tr>
                    <td>@especie.Id</td>
                    <td>@especie.Nombre.NombreCientifico</td>
                    <td>@especie.Nombre.NombreVulgar</td>
                    <td>@especie.Descripcion</td>
                    <td>@especie.AtributosFisicos.RangoPesoKg</td>
                    <td>@especie.AtributosFisicos.RangoLongitudCm</td>
                    <td>@especie.EstadoConservacion.Nombre</td>
                    <td><img class="img-thumbnail" src="~/imagenes/especies/@especie.Imagen.RutaImagen" /></td>
                    <td>
                        <ul>
                            @foreach(var amenaza in especie.Amenazas)
                            {
                                <li>
                                    @amenaza.Descripcion
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach(var amenaza in especie.Amenazas)
                            {
                                <li>
                                    @amenaza.Descripcion: @amenaza.GradoPeligrosidad
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var ecosistema in especie.Ecosistemas)
                            {
                                <li>
                                    @ecosistema.Nombre : @ecosistema.Descripcion
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var ecosistema in especie.Ecosistemas)
                            {
                                <li>
                                    @ecosistema.Nombre : @ecosistema.AreaMetrosCuadrados
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var ecosistema in especie.Ecosistemas)
                            {
                                <li>
                                    @ecosistema.Nombre : @ecosistema.Coordenadas.Latitud , @ecosistema.Coordenadas.Longitud
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var ecosistema in especie.Ecosistemas)
                            {
                                <li>
                                    @ecosistema.Nombre : @ecosistema.EstadoConservacion.Nombre
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var ecosistema in especie.Ecosistemas)
                            {
                                <li>
                                    @ecosistema.Nombre : <img class="img-thumbnail" src="~/imagenes/ecosistemas/@ecosistema.Imagen.RutaImagen" />
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>